@tailwind base;
@tailwind components;
@tailwind utilities;

section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.hero-image {
}

.gradient {
  background: rgb(144, 58, 255);
  background: radial-gradient(
    circle,
    rgba(144, 58, 255, 1) 0%,
    rgba(21, 14, 40, 1) 100%
  );
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #d434fe;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline li:nth-col(even) {
  background-color: red;
}
